PORT=8080
GEMINI_API_KEY=
GEMINI_MODEL=gemini-flash-latest

DATABASE_URL=postgres://postgres:devpassword@localhost:5440/fbperformance?sslmode=disable

APIFY_API_TOKEN=
APIFY_ACTOR_ID=clockworks~tiktok-scraper
